@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/homeStyles.css" />
</head>

<div class="home-content-block">

    <h1><small class="text-muted">Welcome to the Official Website of the</small><br />Gummi Bear Kingdom</h1>

    <div class="paragraph-block block-1 animation-block fade-in">
        <p class="animation-block slide-left">Gummi Bear Kingdom consists of a group of several islands somewhere in the Pacific Ocean. A mysterious fog is always covering the islands that constitute the Kingdom, and yet, if an outsider were ever to set foot on its squishy ground, they would be blinded by how sunny it is. When the weather in Gummi Bear Kingdom brings thirst-quenching precipitation, rather than clouding over, the skies of the Kingdom are filled with rainbows and fantastic unicorn-like phantasms. The climate of the Kingdom is comfortably warm, never rising above 75 degrees fahrenheit, nor falling below about 65 degrees. There is but one season in the Gummi Bear Kingdom; it resembles spring in most other parts of the world. Foreigners are rarely allowed to penetrate the veil of fog, though gummi bears regularly travel to the outside world.</p>
    </div>

    <div class="paragraph-block block-2 animation-block fade-in">
        <p class="animation-block slide-right">Despite its name, Gummi Bears are hardly the only creatures populating the Kingdom's islands. In fact, just about every island in the Kingdom is its own largely autonomous country. The biggest and most populous country, Wurssex, is actually populated by gummi worms, not bears. The bear's homeland, Bearanglia, is situated roughly equidistant from all the other islands of the Kingdom, which allowed Bearanglia to discover, explore, and colonize or trade with other islands earlier than any of the other candy species in the area. This early success established a trend of Gummi Bear supremacy that continues to this day. As a consequence of the local geography, all the various candy peoples of Gummi Bear Kingdom have a long history of seafaring, but the Bears of Bearanglia display the most aptitude. With their advanced culture, the Bears united the various countries several hundred years ago, largely bloodlessly, though violent rebellions have occurred in the past. Such rebellions are always speedily crushed by the Bear Marines, the Kingdom's elite shock troops that reside in Bearndon, the Bear capital.</p>
    </div>

    <div class="paragraph-block block-3 animation-block fade-in">
        <p class="animation-block slide-left">The Kingdom's government consists of a Bear King as head of state, a prime minister, and one house of congress or parliament: the House of Gummis. Each country also has its own assemblies. As of 2017, no non-bear has yet been elected to the position of prime minister, and Bears hold 50% of the seats in the House of Gummis.</p>
    </div>

    <div class="paragraph-block block-4 animation-block fade-in">
        <p class="animation-block slide-right">In recent times, discrimination in Bearanglia has been a hot button issue among the Kingdom's islands. Discrimination by color has largely been overcome, with yellow bears, green bears, orange bears, red bears, and other colored bears living together harmoniously. However, studies show that the Bears as a whole make up to double the salary in chocolate coins, as the salaries of other species working in the same jobs. For example, Maria, a gummi worm accountant, makes about 40,000 chocolate coins a year (1 chocolate coin is roughly equivalent to 1 USD, though exchange rates will fluctuate, of course). But Tom, a gummi bear accountant working in the same company, makes over 60,000 chocolate coins. Discrimination is particularly intense where relations between gummis and non-gummis are concerned. 80% of chocolate-filled Koala Cookies, for example, live below the poverty line, and  annually, gummi-non-gummi marriages make up only 5% of total marriages. Politicians have been promising their constituents more equality for years, but little has been done, leading to widespread grumbling and general discontent among the populace. Some candy people have begun to express fear regarding a possible race war.</p>
    </div>

    <div class="paragraph-block block-5 animation-block fade-in">
        <p class="animation-block slide-left">Being a seafaring nation, the Kingdom's main source of protein is fishing. Swedish Fish are plentiful in the seas surrounding the Kingdom, and most dishes in Bearanglia involve the Swedish Fish in one way or another. Swedish Fish are often used as the basis for a stock, grilled, broiled, poached, or even eaten raw in all their gummi goodness. Vegetation on the islands is plentiful, though the organism outsiders would notice first are the massive chocolate-capped, cookie-trunked mushrooms that dot every country in the Kingdom. The chocolate mushrooms are harvested when mature, with a fully grown specimen typically weighing in at two gummi tons. Other commonly eaten vegetation includes Crystal Sugar Flowers, the fruit of the Juju tree, candy corn, and bubblegum bushes, among others. Each island has its own recipes, though a few are particularly well-known for their food culture. One city particularly well-regarded for its food culture is Koala Lumpur, the capital of Cookia, where the most creative dishes can be found, despite the majority of the population living in poverty by bear standards.</p>
    </div>

    <div class="paragraph-block block-6 animation-block fade-in">
        <p class="animation-block slide-right">In spite of the Kingdom's issues, its economy is one of the strongest in the world, with each island specializing in a particular category and exporting up to 80% of goods produced to the outside world. Wurssex is known for its manufacturing capability, where they churn gummi cars and other products out by the thousands. The Panda Cookies of Pina are known for their many businesses involved in the tech industry. Sourmania is renowned for its precision engineering. Bearanglia is the center of the banking industry, and has its gummi paws in many other areas as well. The Kingdom is truly an exciting place to live and to work.</p>
    </div>

</div>
