@{
    ViewData["Title"] = "Thanks for registering!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for registering!</h2>
<p>We will send you our monthly newsletter starting from the next one.</p>
<a asp-action="Index">Return to Home</a>